@model lab_work.Areas.ProjectManagement.Models.Project

<div class="project-summary">
    <p>Model.Name</p>
    <p>@Model.Description</p>
    <p>Start Date: <b>@Model.StartDate.ToShortDateString()</b> </p>
    <p>Start Date: <b>@Model.EndDate.ToShortDateString()</b> </p>
    <p>Status: <b>@Model.Status</b></p>

    <p>
        <b>Tasks</b>
        <ul>
            @foreach (var task in Model.Tasks)
            {
                    <li> @task.Title  @task.Description</li>
            }
        </ul>
    </p>
</div>
