@*@model List<Project>
    @{
        ViewData["Title"] = "Projects";
        bool searchPerformed = ViewData["SearchPerformed"] as bool? ?? false;
        string searchString = ViewData["SearchString"] as string;

    }
    <h2>Projects</h2>

    <a asp-action="Create" class="btn btn-primary">New Project</a>

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>

                </tr>
            </thead>

            <tbody>

                @foreach (var project in Model)
                {
                    <tr>
                        <td>@project.ProjectId</td>
                        <td>@project.Name</td>
                        <td>@project.Description</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@project.ProjectId" class="btn btn-info">Details</a>
                            <a asp-action="Edit" asp-route-id="@project.ProjectId" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@project.ProjectId" class="btn btn-danger">Delete</a>
                            <a asp-action="Index" asp-controller="Task" asp-route-projectId="@project.ProjectId" class="btn btn-primary">Tasks</a>
                        </td>

                    </tr>
                }

            </tbody>

        </table>

    }
    else
    {
        if (searchPerformed)
        {
            <p>No project names with the name "@searchString" is found</p>
        }
        else
        {
            <p> No Project Available</p>
        }

    }*@


@*22222*@

@model List<Project>

@{
    ViewData["Title"] = "Projects";
    bool searchPerformed = ViewData["SearchPerformed"] as bool? ?? false;
    string searchString = ViewData["SearchString"] as string;

}
<div class="card shadow border-0 mt-4">
    <div class="card header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Project List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="container">
            <div class="row pb-3">
                <div class="col-6">
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Project" asp-action="Create" class="btn btn-primary">
                        <i class="fa-solid fa-folder-plus"></i> Create New Project
                    </a>
                </div>
            </div>

            @if (Model.Any())
            {

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Project Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Summary
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.OrderBy(u => u.ProjectId))
                        {
                            <tr>
                                <td> @obj.Name </td>
                                <td>
                                    @obj.Description
                                </td>

                                <td>
                                    @await Component.InvokeAsync("ProjectSummary", new { projectId = obj.ProjectId })
                                </td>
                                <td>
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-controller="Project" asp-action="Edit" asp-route-id="@obj.ProjectId" class="btn btn-primary mx-2">
                                            <i class="bi bi-pencil-fill"></i> Edit
                                        </a>
                                        <a asp-controller="Project" asp-action="Delete" asp-route-id="@obj.ProjectId" class="btn btn-danger mx-2 border">
                                            <i class="bi bi-trash3"></i> Delete
                                        </a>
                                        <a asp-controller="Project" asp-action="Details" asp-route-id="@obj.ProjectId" class="btn btn-secondary mx-2">
                                            <i class="bi bi-pencil-fill"></i> Details
                                        </a>
                                        <a asp-controller="Task" asp-action="Index" asp-route-projectId="@obj.ProjectId" class="btn btn-secondary mx-2 border">
                                            <i class="bi bi-trash3"></i> Tasks
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            else
            {
                if (searchPerformed)
                {
                    <div class="w-75 btn-group" role="group">
                        No project name with "@searchString".
                    </div>
                }
                else
                {
                    <div class="w-75 btn-group" role="group">
                        No project available.
                    </div>
                }
            }
        </div>
    </div>
</div>

